:root {
  --black:                  rgb(32, 32, 32);
  --gray:                   rgb(105, 105, 105);
  --gray-light:             rgb(235, 235, 235);
  --gray-lighter:           rgb(247, 247, 247);
  --white:                  rgb(255, 255, 255);
  --yellow:                 rgb(255, 234, 0);
  --blue:                   rgb(0, 69, 255);
  --pink:                   rgb(255, 0, 89);

  /* STYLEGUIDE */
  --color-blue:             rgb(0, 83, 159);
  --color-red:              rgb(238, 28, 46);

  --color-black:            var(--black);
  --color-white:            var(--white);

  --color-table-grey:       rgb(51, 51, 51);
  --color-grey:             rgb(87, 82, 82);
  --color-silver:           rgb(192, 192, 192);
  --color-mercury:          rgb(229, 229, 229);
  --color-dark-white:       rgb(240, 235, 235);
  --color-online-white:     rgb(247, 245, 245);
  --color-error-red:        rgb(204, 51, 51);
  --color-amber:            rgb(255, 153, 0);
  --color-yellow:           rgb(252, 214, 0);
  --color-green:            rgb(0, 136, 0);
  --color-mid-blue:         rgb(61, 140, 199);
  --color-light-blue:       rgb(145, 186, 227);

  /* NOT IN STYLEGUIDE (mostly one-shots) */
  --color-alto:             rgb(221, 221, 221);
  --color-matisse:          rgb(32, 84, 154);
  --color-gold:             rgb(248, 213, 0);
  --color-dove-gray:        rgb(110, 103, 103);
  --color-lightgrey:        rgb(211, 211, 211);
  --color-very-light-grey:  rgb(199, 199, 199);
  --color-pure-blue:        rgb(0, 0, 255);
  --color-white-smoke:      rgb(246, 246, 246);

  --link:                   var(--color-blue);
  --linkhover:              var(--color-grey);
  --linkactive:             var(--color-grey);

  --gutter-padding:         0;

  --brand:                  var(--color-blue);
  --bodybg:                 var(--color-white-smoke);
  --text-color:             var(--color-grey);

  /* Buttons */
  /* primary */
  --primary-btn-bg:         var(--color-white);
  --primary-btn-txt:        var(--color-blue);
  --primary-btn-bg-hover:   var(--color-blue);
  --primary-btn-txt-hover:  var(--color-white);

  /* secondary */
  --secondary-btn-bg:       var(--color-blue);
  --secondary-btn-txt:      var(--color-white);
  --secondary-btn-bg-hover: var(--color-white);
  --secondary-btn-txt-hover:var(--color-blue);

  /* tertiary */
  --tertiary-btn-bg:        var(--color-red);
  --tertiary-btn-txt:       var(--color-white);

  /* Cart Buttons */
  --primary-cart-btn-bg:    var(--color-blue);
  --primary-cart-btn-txt:   var(--color-online-white);
  --secondary-cart-btn-bg:  var(--color-white);
  --secondary-cart-btn-txt: var(--color-blue);

  /* Typography */
  --primary-font:           TESCOModern;
  --font-weight-normal:     400;
  --font-weight-bold:       700;
  --line-height-base:       1.4;
  --base-font:              1.6rem;

  /* font-sizing */
  --display1:               calc(var(--base-font) * 4.5);
  --display2:               calc(var(--base-font) * 4);
  --display3:               calc(var(--base-font) * 3.5);
  --head1:                  calc(var(--base-font) * 3);
  --head2:                  calc(var(--base-font) * 2.5);
  --head3:                  calc(var(--base-font) * 2);
  --head4:                  calc(var(--base-font) * 1.5);
  --head5:                  calc(var(--base-font) * 1.25);
  --head6:                  var(--base-font);
  --font-sm:                calc(var(--base-font) * 0.875);
  --font-md:                var(--base-font);
  --font-lg:                calc(var(--base-font) * 1.125);
  --font-xl:                calc(var(--base-font) * 1.25);
  --font-xxl:               calc(var(--base-font) * 1.375);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bodybg);
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: var(--base-font);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
}
