* {
  box-sizing: border-box;
}

a,
button,
alink {
  color: var(--link);
  transition: 0.4s;
}

button:hover,
a:hover {
  color: var(--linkhover);
}

svg {
  height: 2.4rem;
  width: 2.4rem;
}

.logo svg {
  width: 130px;
  height: 40px;
}

.logo span {
  display: block;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
