.footer-top-links-wrapper {
  background-color: var(--white);
  box-shadow: 0px 2px 4px 0px #c7c7c7;
  padding: 35px 0;
  margin: 0 0 20px;
}

.footer-top-links {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 117rem;
}

@media (min-width: 768px) {
  .footer-top-links {
    justify-content: space-between;
  }
}

.footer-top-links ul {
  align-items: center;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3rem;
}

@media (min-width: 768px) {
  .footer-top-links ul {
    display: flex;
  }
}

.footer-top-links a {
  text-decoration: none;
}

.footer-top-links .social-icons {
  display: flex;
  gap: 2rem;
}

.footer-top-links .social-icons li a {
  background: #575252;
  border-radius: 50%;
  color: white;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-top-links .social-icons .icon {
  height: 1.8rem;
  width: 1.8rem;
}
