.legal-footer-wrap {
  background: white;
  color: var(--color-grey);
}

.legal-footer {
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 117rem;
}

.legal-footer p {
  margin: 0;
}

.legal-footer > div {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .legal-footer > div {
    display: flex;
    justify-content: space-between;
  }
}

.legal-footer > div span {
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .legal-footer > div span {
    display: unset;
    text-align: unset;
  }
}

.legal-footer ul {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .legal-footer ul {
    flex-flow: unset;
  }
}
