.tm-light {
  font-weight: 400;
}

body.sb-show-main.sb-main-padded {
  padding: 0 !important;
}

.tm-heading {
  border-bottom: 0.1rem solid grey;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.tm-subheading {
  border-bottom: 0.1rem solid grey;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.sb-show-main.sb-main-padded {
  padding: 0;
}

.icon.example {
  height: 5rem;
  width: 5rem;
}

.font-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
}

.glyph {
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
}

.glyph p {
  margin: 0;
}

.glyph > span:first-child {
  font-size: 5rem;
}

.icon-demo {
  height: 5rem;
  width: 5rem;
}

.example-row {
  display: flex;
  margin-bottom: 2rem;
}

.example {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 2rem;
}

.example-row > div,
.example > div {
  background-color: rgba(0,0,0,0.5);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-row > div p,
.example > div p {
  background-color: var(--white);
  margin:0;
}

.example-gap,
.example-row {
  background-color: pink;
}

.sb-logo {
  width: 13rem;
  height: 4.8rem;
}
