.global-nav-wrapper {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
  position: relative;
  margin-bottom: 2rem;
}

.global-nav {
  display: flex;
  font-weight: 700;
  max-width: 117rem;
  margin: 0 auto;
}

.global-nav a {
  text-decoration: none;
  color: var(--brand);
}

.global-nav .logo {
  display: block;
  margin: 1rem 0;
}

.global-nav nav {
  display: flex;
}

.global-nav nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.global-nav nav li {
  align-items: flex-end;
  border-bottom: 4px solid transparent;
  display: flex;
}

.global-nav nav a {
  padding: 1rem;
}

.global-nav nav li:hover {
  border-color: #3d8cc7;
}

.global-nav nav ul li .submenu {
  background: var(--white);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
  display: none;
  position: absolute;
  width: 100%;
  top: 6.5rem;
  z-index: 1;
  left: 0;
}

.global-nav nav ul li:hover .submenu {
  display: block;
  font-weight: 400;
  padding: 2rem 0;
}

.global-nav nav ul li .submenu .submenu-wrap {
  display: flex;
  max-width: 117rem;
  margin: 0 auto;
}

.global-nav nav ul li .submenu a {
  padding: 0;
}

.global-nav nav ul li .submenu ul {
  flex-flow: column;
}

.global-nav nav ul li .submenu li {
  align-items: unset;
}
.global-nav nav ul li .submenu .col-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.global-nav nav ul li .submenu .col-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.global-nav nav ul li .submenu .col-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
