.btn {
  align-items: center;
  display: flex;
  cursor: pointer;
  border: 0;
  border-radius: 2rem;
  font-weight: var(--font-weight-normal);
  gap: 1rem;
  justify-content: center;
  line-height: 1;
  font-family: inherit;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 2px 0;
  /* transition: all .4s; */
}

.btn .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.btn-primary {
  background-color: var(--primary-btn-bg);
  color: var(--primary-btn-txt);
}

.btn-primary:hover {
  background-color: var(--primary-btn-bg-hover);
  color: var(--primary-btn-txt-hover);
}

.btn-secondary {
  background-color: var(--secondary-btn-bg);
  color: var(--secondary-btn-txt);
}

.btn-secondary:hover {
  background-color: var(--secondary-btn-bg-hover);
  color: var(--secondary-btn-txt-hover);
}

.btn-tertiary {
  background-color: var(--tertiary-btn-bg);
  color: var(--tertiary-btn-txt);
}

.btn-sm {
  padding: 1rem 1.6rem;
  font-size: var(--font-sm);
}

.btn-md {
  padding: 1.1rem 2rem;
  font-size: var(--font-md);
}

.btn-lg {
  padding: 1.2rem 2.4rem;
  font-size: var(--font-lg);
}

/* basket button */
.tocart {
  background-color: var(--primary-cart-btn-bg);
  border: 2px solid var(--primary-cart-btn-bg);
  color: var(--primary-cart-btn-txt);
  font-weight: var(--font-weight-bold);
  box-shadow: unset;
  border-radius: 2rem;
  margin: 0.2rem 0;
  width: 100%;
  padding: 0.8rem 1.8rem;
}

.tocart:hover {
  background-color: var(--primary-cart-btn-bg);
  border: 2px solid var(--primary-cart-btn-bg);
  color: var(--primary-cart-btn-txt);
  box-shadow: 0 0 0 4px rgba(0, 83, 159, .4);
}

.btn.tocart .icon {
  margin-right: 1rem;
  height: 2.4rem;
  width: 2.4rem;
}

.tocart.btn-secondary {
  background-color: var(--secondary-cart-btn-bg);
  color: var(--secondary-cart-btn-txt);
  appearance: none;
}

.tocart.btn-secondary:hover {
  background-color: var(--secondary-cart-btn-bg);
  color: var(--secondary-cart-btn-txt);
}
