.btn {
  align-items: center;
  display: flex;
  cursor: pointer;
  border: 0;
  border-radius: 5rem;
  font-weight: 400;
  gap: 1rem;
  justify-content: center;
  line-height: 1;
  font-family: inherit;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 2px 0;
  transition: all .3s;
}

.btn .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.btn svg {
  margin-left: 0;
}

.btn-primary {
  background-color: var(--color-white);
  color: var(--brand);
}

.btn-primary:hover {
  background-color: var(--brand);
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--brand);
  color: var(--color-white);
}

.btn-secondary:hover {
  background-color: var(--color-white);
  color: var(--brand);
}

.btn-tertiary {
  background-color: var(--color-red);
  color: var(--color-white);
}

.btn-sm {
  padding: 1rem 1.6rem;
  font-size: 1.4rem;
}

.btn-md {
  padding: 1.1rem 2rem;
  font-size: 1.6rem;
}

.btn-lg {
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
}

/* basket button */
.tocart {
  background-image: none;
  background: #00539f;
  border: 2px solid #00539f;
  color: #f7f5f5;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  box-shadow: unset;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  transition: all .15s;
  border-radius: 2rem;
  text-decoration: none;
  appearance: none;
  margin: 2px 0;
  width: 100%;
  padding: 8px 18px;
}

.tocart:hover {
  background: #00539f;
  border: 2px solid #00539f;
  color: #f7f5f5;
  box-shadow: 0 0 0 4px rgba(0, 83, 159, .4);
}

.btn.tocart .icon {
  margin-right: 1rem;
  height: 2.4rem;
  width: 2.4rem;
}

.tocart.btn-secondary {
  background: #fff;
  color: #00539f;
  appearance: none;
}

.tocart.btn-secondary:hover {
  background: #fff;
  color: #00539f;
}
