.btn {
  align-items: center;
  display: flex;
  cursor: pointer;
  border: 0;
  border-radius: 5rem;
  font-weight: 400;
  justify-content: center;
  line-height: 1;
  font-family: inherit;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 2px 0;
  transition: all .3s;
}

.btn .icon {
  height: 1.8rem;
  width: 1.8rem;
  margin-left: 1rem;
}

.btn-primary {
  background-color: var(--color-white);
  color: var(--brand);
}

.btn-primary:hover {
  background-color: var(--brand);
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--brand);
  color: var(--color-white);
}

.btn-secondary:hover {
  background-color: var(--color-white);
  color: var(--brand);
}

.btn-tertiary {
  background-color: var(--color-red);
  color: var(--color-white);
}

.btn-sm {
  padding: 1rem 1.6rem;
  font-size: 1.4rem;
}

.btn-md {
  padding: 1.1rem 2rem;
  font-size: 1.6rem;
}

.btn-lg {
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
}
