:root {
  --0: 0;
  --1: 0.5rem;
  --2: calc(var(--1) * 2);
  --3: calc(var(--1) * 4);
  --4: calc(var(--1) * 8);
  --5: calc(var(--1) * 16);
  --6: calc(var(--1) * 32);
  --7: calc(var(--1) * 64);
  --8: calc(var(--1) * 128);
  --9: calc(var(--1) * 256);
}

.m-0 {
  margin: var(--0);
}

/* Margin Top */
.mt-0 {
  margin-top: var(--0);
}

.mt-1 {
  margin-top: var(--1);
}

.mt-2 {
  margin-top: var(--2);
}

.mt-3 {
  margin-top: var(--3);
}

.mt-4 {
  margin-top: var(--4);
}

.mt-5 {
  margin-top: var(--5);
}

.mt-6 {
  margin-top: var(--6);
}

.mt-7 {
  margin-top: var(--7);
}

.mt-8 {
  margin-top: var(--8);
}

.mt-9 {
  margin-top: var(--9);
}

/* Margin Bottom */
.mb-0 {
  margin-bottom: var(--0);
}

.mb-1 {
  margin-bottom: var(--1);
}

.mb-2 {
  margin-bottom: var(--2);
}

.mb-3 {
  margin-bottom: var(--3);
}

.mb-4 {
  margin-bottom: var(--4);
}

.mb-5 {
  margin-bottom: var(--5);
}

.mb-6 {
  margin-bottom: var(--6);
}

.mb-7 {
  margin-bottom: var(--7);
}

.mb-8 {
  margin-bottom: var(--8);
}

.mb-9 {
  margin-bottom: var(--9);
}

/* Margin Left */
.ml-0 {
  margin-left: var(--0);
}

.ml-1 {
  margin-left: var(--1);
}

.ml-2 {
  margin-left: var(--2);
}

.ml-3 {
  margin-left: var(--3);
}

.ml-4 {
  margin-left: var(--4);
}

.ml-5 {
  margin-left: var(--5);
}

.ml-6 {
  margin-left: var(--6);
}

.ml-7 {
  margin-left: var(--7);
}

.ml-8 {
  margin-left: var(--8);
}

.ml-9 {
  margin-left: var(--9);
}

/* Margin Right */
.mr-0 {
  margin-right: var(--0);
}

.mr-1 {
  margin-right: var(--1);
}

.mr-2 {
  margin-right: var(--2);
}

.mr-3 {
  margin-right: var(--3);
}

.mr-4 {
  margin-right: var(--4);
}

.mr-5 {
  margin-right: var(--5);
}

.mr-6 {
  margin-right: var(--6);
}

.mr-7 {
  margin-right: var(--7);
}

.mr-8 {
  margin-right: var(--8);
}

.mr-9 {
  margin-right: var(--9);
}

.mr-0 {
  margin-right: var(--0);
}

/* Margin X */
.my-1 {
  margin: 0 var(--1);
}

.my-2 {
  margin: 0 var(--2);
}

.my-3 {
  margin: 0 var(--3);
}

.my-4 {
  margin: 0 var(--4);
}

.my-5 {
  margin: 0 var(--5);
}

.my-6 {
  margin: 0 var(--6);
}

.my-7 {
  margin: 0 var(--7);
}

.my-8 {
  margin: 0 var(--8);
}

.my-9 {
  margin: 0 var(--9);
}

/* Margin y */
.mx-1 {
  margin: var(--1) 0;
}

.mx-2 {
  margin: var(--2) 0;
}

.mx-3 {
  margin: var(--3) 0;
}

.mx-4 {
  margin: var(--4) 0;
}

.mx-5 {
  margin: var(--5) 0;
}

.mx-6 {
  margin: var(--6) 0;
}

.mx-7 {
  margin: var(--7) 0;
}

.mx-8 {
  margin: var(--8) 0;
}

.mx-9 {
  margin: var(--9) 0;
}

.p {
  padding: var(--0);
}

/* padding Top */
.pt-0 {
  padding-top: var(--0);
}

.pt-1 {
  padding-top: var(--1);
}

.pt-2 {
  padding-top: var(--2);
}

.pt-3 {
  padding-top: var(--3);
}

.pt-4 {
  padding-top: var(--4);
}

.pt-5 {
  padding-top: var(--5);
}

.pt-6 {
  padding-top: var(--6);
}

.pt-7 {
  padding-top: var(--7);
}

.pt-8 {
  padding-top: var(--8);
}

.pt-9 {
  padding-top: var(--9);
}

/* padding bottom */
.pb-0 {
  padding-bottom: var(--0);
}

.pb-1 {
  padding-bottom: var(--1);
}

.pb-2 {
  padding-bottom: var(--2);
}

.pb-3 {
  padding-bottom: var(--3);
}

.pb-4 {
  padding-bottom: var(--4);
}

.pb-5 {
  padding-bottom: var(--5);
}

.pb-6 {
  padding-bottom: var(--6);
}

.pb-7 {
  padding-bottom: var(--7);
}

.pb-8 {
  padding-bottom: var(--8);
}

.pb-9 {
  padding-bottom: var(--9);
}

/* padding Left */
.pl-0 {
  padding-left: var(--0);
}

.pl-1 {
  padding-left: var(--1);
}

.pl-2 {
  padding-left: var(--2);
}

.pl-3 {
  padding-left: var(--3);
}

.pl-4 {
  padding-left: var(--4);
}

.pl-5 {
  padding-left: var(--5);
}

.pl-6 {
  padding-left: var(--6);
}

.pl-7 {
  padding-left: var(--7);
}

.pl-8 {
  padding-left: var(--8);
}

.pl-9 {
  padding-left: var(--9);
}

/* padding Right */
.pr-0 {
  padding-right: var(--0);
}

.pr-1 {
  padding-right: var(--1);
}

.pr-2 {
  padding-right: var(--2);
}

.pr-3 {
  padding-right: var(--3);
}

.pr-4 {
  padding-right: var(--4);
}

.pr-5 {
  padding-right: var(--5);
}

.pr-6 {
  padding-right: var(--6);
}

.pr-7 {
  padding-right: var(--7);
}

.pr-8 {
  padding-right: var(--8);
}

.pr-9 {
  padding-right: var(--9);
}

.pr-0 {
  padding-right: var(--0);
}

/* padding X */
.py-1 {
  padding: 0 var(--1);
}

.py-2 {
  padding: 0 var(--2);
}

.py-3 {
  padding: 0 var(--3);
}

.py-4 {
  padding: 0 var(--4);
}

.py-5 {
  padding: 0 var(--5);
}

.py-6 {
  padding: 0 var(--6);
}

.py-7 {
  padding: 0 var(--7);
}

.py-8 {
  padding: 0 var(--8);
}

.py-9 {
  padding: 0 var(--9);
}

/* padding y */
.px-1 {
  padding: var(--1) 0;
}

.px-2 {
  padding: var(--2) 0;
}

.px-3 {
  padding: var(--3) 0;
}

.px-4 {
  padding: var(--4) 0;
}

.px-5 {
  padding: var(--5) 0;
}

.px-6 {
  padding: var(--6) 0;
}

.px-7 {
  padding: var(--7) 0;
}

.px-8 {
  padding: var(--8) 0;
}

.px-9 {
  padding: var(--9) 0;
}

/* Gap */
.gap-0 {
  gap: var(--0);
}

.gap-1 {
  gap: var(--1);
}

.gap-2 {
  gap: var(--2);
}

.gap-3 {
  gap: var(--3);
}

.gap-4 {
  gap: var(--4);
}

.gap-5 {
  gap: var(--5);
}

.gap-6 {
  gap: var(--6);
}

.gap-7 {
  gap: var(--7);
}

.gap-8 {
  gap: var(--8);
}

.gap-9 {
  gap: var(--9);
}
