.display-1,
.display-2,
.display-3 {
  font-weight: var(--font-weight-normal);
}

.display-1 {
  font-size: var(--display1);
}

.display-2 {
  font-size: var(--display2);
}

.display-3 {
  font-size: var(--display3);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.text {
  font-family: var(--primary-font);
  line-height: var(--line-height-base);
  margin: 0;
  padding: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: var(--font-weight-bold);
}

h1,
.h1 {
  font-size: var(--head1);
}

h2,
.h2 {
  font-size: var(--head2);
}

h3,
.h3 {
  font-size: var(--head3);
  margin: 0;
}

h4,
.h4 {
  font-size: var(--head4);
}

h5,
.h5 {
  font-size: var(--head5);
  text-transform: uppercase;
}

h6,
.h6 {
  font-size: var(--head6);
}

p {
  margin-bottom: 1.6rem;
}

.font-sm {
  font-size: var(--font-sm);
}

.font-md {
  font-size: var(--font-md);
}

.font-lg {
  font-size: var(--font-lg);
}

.font-xl {
  font-size: var(--font-xl);
}

.font-xxl {
  font-size: var(--font-xxl);
}

.underline {
  text-decoration: underline;
}

strong,
.bold {
  font-weight: 700;
}
