.hero-image {
  position: relative;
}

.hero-image img {
  width: 100%;
  display: block;
}

.hero-image .content {
  position: absolute;
  width: 50%;
  padding: 1rem;
}

.hero-top .content {
  top: 0;
}

.hero-middle .content {
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}

.hero-bottom .content {
  bottom: 0;
}

.hero-bottom .content {
  bottom: 0;
}

.hero-left .content {
  left: 0;
}

.hero-right .content {
  right: 0;
  text-align: right;
}

.hero-center .content {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.hero-left.hero-middle .content,
.hero-right.hero-middle .content {
  flex-flow: column;
}
