.jumbotron {
  position: relative;
}

.jumbotron img {
  width: 100%;
  display: block;
}

.jumbotron .content {
  position: absolute;
  width: 50%;
  padding: 1rem;
}

.jumbotron-top .content {
  top: 0;
}

.jumbotron-middle .content {
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}

.jumbotron-bottom .content {
  bottom: 0;
}

.jumbotron-bottom .content {
  bottom: 0;
}

.jumbotron-left .content {
  left: 0;
}

.jumbotron-right .content {
  right: 0;
  text-align: right;
}

.jumbotron-center .content {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.jumbotron-left.jumbotron-middle .content,
.jumbotron-right.jumbotron-middle .content {
  flex-flow: column;
}
