.jumbotron {
  position: relative;
  margin-bottom: 1rem;
}

.lefttoright-gradient:before {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.righttoleft-gradient:before {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.jumbotron img {
  width: 100%;
  display: block;
}

.jumbotron .display-1 small {
  display: block;
  font-size: var(--head3)
}

.jumbotron .content {
  position: absolute;
  width: 50%;
  padding: 1rem;
}

.jumbotron-top .content {
  top: 0;
}

.jumbotron-middle .content {
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}

.jumbotron-bottom .content {
  bottom: 0;
}

.jumbotron-bottom .content {
  bottom: 0;
}

.jumbotron-left .content {
  left: 0;
}

.jumbotron-right .content {
  right: 0;
  text-align: right;
}

.jumbotron-center .content {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.jumbotron-left.jumbotron-middle .content,
.jumbotron-right.jumbotron-middle .content {
  flex-flow: column;
}
